<table class="homeTable1">
  <tr>
    <th>Projeto</th>
    <th>Descrição</th>
    <th>Url</th>
  </tr>
  <tr *ngFor="let portifolio of portifolioList">
    <td>{{ portifolio.name }}</td>
    <td>{{ portifolio.description }}</td>
    <td>
      <a href="{{ portifolio.url }}" target="_blank">{{ portifolio.url }}</a>
    </td>
  </tr>
</table>

<hr />

<table class="homeTable2">
  <tr>
    <td>
      <h4>Portifólio</h4>
      <div *ngFor="let portifolio of portifolioList">
        <p (click)="onSelect(portifolio)" class="pover">
          <b>{{ portifolio.name }}</b
          ><br />
          {{ portifolio.description }}<br />
          <a href="{{ portifolio.url }}" target="_blank">{{
            portifolio.url
          }}</a>
        </p>
        <hr />
      </div>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td style="vertical-align: text-top">
      <app-portifolio-view
        [portifolio]="selectedPortifolio"
      ></app-portifolio-view>
    </td>
  </tr>
</table>
